<div class="form-group">
  <label>Name</label>
  <input #name="ngModel"
         name="name"
         class="form-control"
         [(ngModel)]="contact.name"
         required />
  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
    Please enter the name
  </div>
</div>

<div class="form-group">
  <label>Telephone</label>
  <input #telephone="ngModel"
         name="telephone"
         class="form-control"
         [(ngModel)]="contact.telephone"
         required
         pattern="(([+][(]?[0-9]{1,3}[)]?)|([(]?[0-9]{4}[)]?))\s*[)]?[-\s\.]?[(]?[0-9]{1,3}[)]?([-\s\.]?[0-9]{3})([-\s\.]?[0-9]{3,4})" />
  <div *ngIf="telephone.invalid && (telephone.dirty || telephone.touched)" class="text-danger">
    <div *ngIf="telephone.errors.required">
      Phone number is required
    </div>
    <div *ngIf="telephone.errors.pattern">
      Phone number should be in valid form (like +15551234455)
    </div>
  </div>
</div>
